body {
    font-family: Futura;
    margin: 0;
    background-color: black;
}


.container {
    display: flex;
    flex-wrap: wrap;
}


#root {
    width: 100%;
    margin: 0;
}

.container {
    flex-wrap: nowrap;
    flex-direction: colum;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;


}

.subcontainer {
     flex-wrap: nowrap;
    flex-direction: colum;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100%;
    width: 22em;
    margin-right: 0.5em;
}

.subcard {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100%;
    width: 22em;
    margin-right: 0.5em;
}

h1 {
    list-style: none;
    position: absolute;
    text-align: center;
    font-size: 2em;
    text-align: left;
    color: white;
    z-index: 2;
    margin: 0 0 1em;
    bottom: 0;
    padding: 0.1em 0;
    width: 100%;
    background-color: rgb(173,173,173,85%);
    
}

h2 {
    margin: 0;
    padding: 0.2em;
    color: white;
}

p {
    padding: 0.5em;
    align-self: center;
    overflow: hidden;
    z-index: 6;
    top: 0;
    color: white;
}

img {
    z-index: 1;
    position: relative;
    width: 20em;
}

button {
    height: 3em;
    width: 4em;
    margin: 0 0.5em 3em auto;
    z-index: 3;
    background-color: white;
}


