body {
    font-family: Futura;
    margin: 0;
}


.container {
    display: flex;
    flex-wrap: wrap;
}


#root {
    width: 100%;
    margin: 0;
}

.container {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;


}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    height: 100%;
    width: 20em;
    background-color: beige;

}

h1 {
    list-style: none;
    position: absolute;
    text-align: center;
    font-size: 3em;
    text-align: left;
    color: white;
    z-index: 2;
    margin: 0;
    bottom: 0;
    padding: 0.1em 0;
    width: 100%;
    background-color: gray;

}

h2 {
    margin: 0;
    padding: 0.2em;
}

p {
    padding: 0.5em;
    align-self: center;
    overflow: hidden;
    color: saddlebrown;
}

img {
    z-index: 1;
    position: relative;
    width: 20em;
}


h2 {
    overflow-y: hidden;
}