body {
    font-family: Nexa;
    margin: 0;
    background-color: black;
}

#root {
    width: 100%;
    margin: 0;
}


header {
    margin: 0;
    padding: 0.5em;
    height: 100%;
    background-color: #171717;
    box-shadow: 0px -3px 38px 3px rgba(227,227,227,0.82);;
}

.titelpagina {
    margin: 0;
    background-color: none;
    color: yellow;
    height: 100%;
    text-align: center;

    
}


.container {
    flex-wrap: nowrap;
    flex-direction: column;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0;
    padding-top: 1em;
    
}


.titeldown {
    list-style: none;
    position: absolute;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    color: white;
    z-index: 6;
    margin-top: 0;
    padding: 0.5em 0;
    width: 100%;
    border-radius: 0 0 0.3em 0.3em;
    background-color: rgb(173,173,173,85%);
    transition:  0.3s ease-in-out;
    
}

h2 {
    margin: 1em 1.5em 0.5em 1.5em;
    color: yellow;
    background-color: none;
    text-align: left;

}

.description {
    z-index: 3;
    opacity: 1;
    width: 90%;
    top: 2em;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    color: white;

}


.down {
    z-index: 6;
    opacity: 1;
    width: 90%;
    text-align: center;
    margin:  0 auto;
    background-color: black;
    position: relative;
    
}

.card {
    height: 30em;
    width: 20em;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.card:hover {

}


.cover {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
}



.genre {
    color: white;
    margin: 0 auto;
    opacity: 0;
    z-index: 6;
    top: 0;
    text-align: center;
    transition:  0.6s ease-in-out;
}





.blurimage {
    -webkit-filter: blur(2px);
    transition:  0.6s ease-in-out;
}

button {
    height: 4em;
    width: 8em;
    z-index: 7;
    align-self: center;
    background-color: yellow;
    color: black;
    bottom: 0;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1em;
    font-family: Nexa;
    border: none;
    font-weight: 700;
}



.date {
    color: white;
    top: 0;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    padding: 0.5em;
    overflow: hidden;
    text-align: center;
    transition:  0.6s ease-in-out;
}


.datedown {
    color: white;
    text-align: center;
    transition:  0.6s ease-in-out; 
    opacity: 1;
    padding: 0.5em;
    margin: 0 auto;
    z-index: 6;
    top: 0;
    
}




.actor {
    color: white;
    margin: 0 auto;
    z-index: 10;
    opacity: 1;
}

