body {
    background-color: #06050e;
    margin: 0;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-family: avenir;
}


.carousel-container { 
    height: 30em;
    width: 50%;
    margin: auto;
    background-color: black;
    overflow-x: scroll;
    display: flex;
    overflow: hidden;
    flex-direction: row;
    border: 15px solid white;
}

.buttonsMenu {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

button {
    color: none;
    background-color: #06050e;
    color: #ffffff;
    border: 2px solid rgb(254, 254, 255);
    margin: 4em 4em;
    height: 5em;
    width: 5em;
    border-radius: 3em;
    box-shadow: 0 0 20px rgb(254, 254, 255);
}



::-webkit-scrollbar {
    display: none;
}

.carousel-slide {
    display: flex;
    width: 400px;
    height: 500px;
}

.carousel article {
    height: 500px;
    width: 400px;
}

.carousel article:nth-of-type(1) {
    background-image: url(../images/holiday1.jpeg);
    background-size: cover;
}

.carousel article:nth-of-type(2) {
    background-image: url(../images/holiday2.jpeg);
}

img {
    height: 500px;
}

.buttonAnimation {
    animation: button2 0.7s forwards;
    animation-timing-function: ease-out;
}

@keyframes button2 {
    0% {
        height: 5em;
        width: 5em;
    }
    50% {
        height: 5em;
        width: 10em;
        /* border: 2px solid rgb(0, 255, 136);
        box-shadow: 0 0 20px rgb(0, 255, 136); */
        border: 2px solid rgb(254, 254, 255);
        box-shadow: 0 0 20px rgb(254, 254, 255);
        background-color: rgb(254, 254, 255);
        color: #06050e;
        margin: 4em 1.5em;
    }
    100% {
        height: 5em;
        width: 5em;
        border: 2px solid rgb(254, 254, 255);
        box-shadow: 0 0 20px rgb(254, 254, 255);
        color: #ffffff;
    }
}




