body {
    margin: 0;
    background-color: white;
}

#root {
    width: 100%;
    margin: 0;
}


header {
    margin: 0;
    padding: 0.5em;
    height: 100%;
    background-color: white;
    box-shadow: 0px -3px 38px 3px rgba(227,227,227,0.82);
}

.titelpagina {
    margin: 0;
    background-color: none;
    color: black;
    height: 100%;
    text-align: center;

    
}


.container {
    flex-wrap: nowrap;
    flex-direction: row;
    display: flex;
    overflow-x: scroll;
    overflow-y: scroll;
    margin: 0;
    width: 100%;
    padding-top: 0.5em;
    min-width: 100em;
    


}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    height: 30em;
    width: 50em;
    margin: 0.5em;
    border-radius: 20%;
}


.titeldown {
    list-style: none;
    position: absolute;
    text-align: center;
    font-size: 2em;
    opacity: 0;
    color: white;
    z-index: 6;
    margin-top: 0;
    padding: 0.5em 0;
    width: 100%;
    border-radius: 0 0 0.3em 0.3em;
    background-color: rgb(173,173,173,85%);
    transition:  0.3s ease-in-out;
    
}


p {
    overflow: hidden;
    z-index: 1;
    opacity: 0;
    width: 90%;
    top: 0;
    margin: 0 auto;
    text-align: center;
    color: white;
    transition:  0.5s ease-in-out;

}

.description {
    padding: 0.5em 0;
}


.down {
    z-index: 6;
    opacity: 1;
    width: 90%;
    text-align: center;
    margin:  0 auto;
    overflow: hidden;
    transition:  0.6s ease-in-out;
    
}

img {
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  0.6s ease-in-out;
    border-radius: 0.3em;
    
    
}


.genre {
    color: white;
    margin: 0 auto;
    opacity: 0;
    z-index: 6;
    top: 0;
    text-align: center;
    transition:  0.6s ease-in-out;
}

.genredown {
    z-index: 6;
    margin: 0 auto;
    color: white;
    text-align: center;
    transition:  0.6s ease-in-out;
    opacity: 1;
}




.blurimage {
    -webkit-filter: blur(2px);
    transition:  0.6s ease-in-out;
}

button {
    height: 4em;
    width: 8em;
    z-index: 7;
    align-self: center;
    background-color: black;
    color: white;
    bottom: 0;
    border-radius: 0.5em;
    margin-top: 1em;
    margin-bottom: 0;
    font-size: 1em;
    border: none;
}


.subcard {
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 85%;
    width: 100%;
    opacity: 0;
    margin: 0;
    position: absolute;
    transition:  0.6s ease-in-out;
    
    
}

.subcarddown {
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 6;
    height: 85%;
    width: 100%;
    opacity: 0.6;
    margin: 0;
    position: absolute;
    transition:  0.6s ease-in-out;
}

.date {
    color: white;
    top: 0;
    margin: 0 auto;
    z-index: 6;
    opacity: 1;
    padding: 0.5em;
    overflow: hidden;
    text-align: center;
    transition:  0.6s ease-in-out;
}


.datedown {
    color: white;
    text-align: center;
    transition:  0.6s ease-in-out; 
    opacity: 1;
    padding: 0.5em;
    margin: 0 auto;
    z-index: 6;
    top: 0;
    
}




.actor {
    color: white;
    margin: 0 auto;
    z-index: 10;
    opacity: 1;
}





